.img-destino{
  height:max-content;
}

.btn-itinerario{
  font-size: 24px !important;
  border-radius: 15px !important;
  background: #E0282A !important;
  border-color: #E0282A !important;
  color: white !important; 
  width:342px;
  height: 78px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-verde{
  font-size: 24px !important;
  border-radius: 15px !important;
  background: #7DA31C !important;
  border-color: #7DA31C !important;
  color: white !important; 
  width:293px;
  height: 91px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sub-title{
  font-size: 24px;
}

.row1{
  padding-top: 25px;
  padding-bottom: 25px;
}
.row-itinerario{
  padding-top: 25px;
  padding-bottom: 25px;
}

.destinos-cercanos{
  display: flex;
  align-items:center;
  padding-top: 25px;
  padding-bottom: 50px;
}

.btn-flecha{
  padding: 0 !important;
  border-radius: 100% !important;
  background: #2CD4DE !important;
  border-color: #ffffff !important;
  color: white !important; 
  width:50px;
  height: 50px;
}