{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Viany</title>
    <link rel="shortcut icon" href="static/assets/logo.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light menu">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="static/assets/logo-white.png" alt="Viany" width="80" height="80">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navegacion">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div id="navegacion" class="collapse navbar-collapse nav nav-stacked justify-content-end">
            <ul  class="navbar-nav ms-3">
              <li  class="nav-item"><a href="{% url 'login' %}" class="nav-link"><h5><strong>Iniciar Sesión</strong></h5></a></li>
              <li class="nav-item"><button class="register"><a href="{% url 'signup' %}" class="nav-link"><h5><strong>Registrate</strong></h5></a></li></button>
            </ul>
          </div>
      </div>
    </nav>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="/itinerario/" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Crear Itinerario</span> </a>
                    </li>
                    <li>
                        <a href="/itinerario/listar" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Mis Itinerarios</span></a>
                    </li>
                    <li>
                        <a href="/recomendaciones" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Recomendaciones</span></a>
                    </li>
                    <li>
                        <a href="/itinerario/escanear" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Escanear Itinerario</span> </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col py-3">
            <form action="dash2">
            <div class="row">
                <div class="col-md-8">
                    Ponle un nombre a tu itinerario <br>
                    <input type="text" placeholder="Nombre"><br>
                    ¿Desde donde inicias tu viaje? <label><input type="checkbox"> Usar Geolocalización</label><br>
                    <input type="text" placeholder="Ingresa tu Dirección"><br>
                    Ingresa la Fecha de Inicio de tu viaje<br>
                    <input type="date">
                </div>
                <div class="col-md-2">
                    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-147.39257812500003%2C-63.074865690586634%2C0.26367187500000006%2C-3.688855143147035&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=4/-39.30/-73.56">Ver mapa más grande</a></small>
                </div>
                </div>
                <input type="submit" value="Continuar">
            </form>


        </div>
    </div>
</div>



      <footer>
        <div class="row justify-content-md-center">
        </div>
      </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>